# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

In [15]:
np.random.seed(1234)

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [16]:
data1 = pd.Series(np.random.randint(1, 5, size=100))
data2 = pd.Series(np.random.randint(1, 4, size=100))
data3 = pd.Series(np.random.randint(10000, 30001, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [18]:
data1

0     4
1     4
2     3
3     2
4     1
     ..
95    2
96    3
97    3
98    2
99    2
Length: 100, dtype: int32

In [20]:
housemkt = pd.concat([data1, data2, data3], axis=1)
housemkt

    0  1      2
0   4  3  15899
1   4  1  16846
2   3  2  15629
3   2  3  18849
4   1  3  16950
.. .. ..    ...
95  2  2  18757
96  3  1  22311
97  3  1  13455
98  2  2  22048
99  2  1  28166

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [21]:
housemkt.columns = ('bedrs', 'bathrs', 'price_sqr_meter')
housemkt

    bedrs  bathrs  price_sqr_meter
0       4       3            15899
1       4       1            16846
2       3       2            15629
3       2       3            18849
4       1       3            16950
..    ...     ...              ...
95      2       2            18757
96      3       1            22311
97      3       1            13455
98      2       2            22048
99      2       1            28166

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [22]:
bigcolumn = pd.DataFrame(pd.concat([data1, data2, data3], axis=0))
bigcolumn

        0
0       4
1       4
2       3
3       2
4       1
..    ...
95  18757
96  22311
97  13455
98  22048
99  28166

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
bigcolumn = bigcolumn.reset_index()

In [26]:
bigcolumn

     index      0
0        0      4
1        1      4
2        2      3
3        3      2
4        4      1
..     ...    ...
295     95  18757
296     96  22311
297     97  13455
298     98  22048
299     99  28166

[300 rows x 2 columns]