# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [51]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

In [5]:
cars1.sample(33)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
176,19.0,6,232,90,3211,17.0,75,1,amc pacer,NaN,NaN,NaN,NaN,NaN
150,26.0,4,108,93,2391,15.5,74,3,subaru,NaN,NaN,NaN,NaN,NaN
169,20.0,6,232,100,2914,16.0,75,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,NaN,NaN,NaN,NaN,NaN
127,19.0,6,232,100,2901,16.0,74,1,amc hornet,NaN,NaN,NaN,NaN,NaN
137,13.0,8,350,150,4699,14.5,74,1,buick century luxus (sw),NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
118,24.0,4,116,75,2158,15.5,73,2,opel manta,NaN,NaN,NaN,NaN,NaN
69,12.0,8,350,160,4456,13.5,72,1,oldsmobile delta 88 royale,NaN,NaN,NaN,NaN,NaN
44,13.0,8,400,175,5140,12.0,71,1,pontiac safari (sw),NaN,NaN,NaN,NaN,NaN
99,18.0,6,232,100,2945,16.0,73,1,amc hornet,NaN,NaN,NaN,NaN,NaN
57,24.0,4,113,95,2278,15.5,72,3,toyota corona hardtop,NaN,NaN,NaN,NaN,NaN
117,29.0,4,68,49,1867,19.5,73,2,fiat 128,NaN,NaN,NaN,NaN,NaN
122,24.0,4,121,110,2660,14.0,73,2,saab 99le,NaN,NaN,NaN,NaN,NaN
42,12.0,8,383,180,4955,11.5,71,1,dodge monaco (sw),NaN,NaN,NaN,NaN,NaN
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
178,23.0,4,120,88,2957,17.0,75,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
106,12.0,8,350,180,4499,12.5,73,1,oldsmobile vista cruiser,NaN,NaN,NaN,NaN,NaN
105,13.0,8,360,170,4654,13.0,73,1,plymouth custom suburb,NaN,NaN,NaN,NaN,NaN
75,14.0,8,318,150,4077,14.0,72,1,plymouth satellite custom (sw),NaN,NaN,NaN,NaN,NaN
70,13.0,8,400,190,4422,12.5,72,1,chrysler newport royal,NaN,NaN,NaN,NaN,NaN
91,13.0,8,400,150,4464,12.0,73,1,chevrolet caprice classic,NaN,NaN,NaN,NaN,NaN
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
35,17.0,6,250,100,3329,15.5,71,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
149,24.0,4,120,97,2489,15.0,74,3,honda civic,NaN,NaN,NaN,NaN,NaN
38,14.0,8,350,165,4209,12.0,71,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
46,22.0,4,140,72,2408,19.0,71,1,chevrolet vega (sw),NaN,NaN,NaN,NaN,NaN
153,18.0,6,250,105,3459,16.0,75,1,chevrolet nova,NaN,NaN,NaN,NaN,NaN
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,NaN,NaN,NaN,NaN,NaN
33,19.0,6,232,100,2634,13.0,71,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
61,21.0,4,122,86,2226,16.5,72,1,ford pinto runabout,NaN,NaN,NaN,NaN,NaN
110,22.0,4,108,94,2379,16.5,73,3,datsun 610,NaN,NaN,NaN,NaN,NaN
154,15.0,6,250,72,3432,21.0,75,1,mercury monarch,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
113,32.1,4,98,70,2120,15.5,80,1,chevrolet chevette

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [16]:
try:
    cars1 = cars1.drop(['Unnamed: 9', 'Unnamed: 10',  'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1)
except:
    pass
cars1.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
110,33.5,4,151,90,2556,13.2,79,1,pontiac phoenix

In [17]:
cars2.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
32,15.5,8,350,170,4165,11.4,77,1,chevrolet monte carlo landau

### Step 5. What is the number of observations in each dataset?

In [15]:
print(f'cars1: {cars1.shape}\ncars2: {cars2.shape}')

cars1: (198, 9)
cars2: (200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:
cars = pd.concat((cars1, cars2))
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [65]:
owners = np.random.randint(15000, 73000, cars.shape[0])
owners

array([18426, 37500, 69588, 42350, 58339, 48396, 52732, 51488, 68701,
       29213, 22620, 31356, 32301, 38013, 33657, 52377, 26175, 33810,
       72216, 20097, 65922, 18054, 50055, 44366, 50187, 51327, 56626,
       69465, 37335, 43222, 20665, 56565, 16158, 54592, 42539, 46284,
       29387, 58292, 40273, 20426, 45048, 44321, 33954, 46649, 55110,
       55548, 30132, 31454, 17444, 55569, 58405, 68131, 35087, 26781,
       63924, 32030, 44224, 64127, 21773, 22778, 66476, 57824, 28075,
       67407, 27196, 21880, 45676, 36186, 53203, 34041, 43231, 21840,
       70112, 66061, 42238, 68437, 54259, 61856, 30734, 19856, 68456,
       58480, 68610, 51870, 71409, 32740, 71519, 22366, 42428, 53324,
       15110, 18524, 35121, 40729, 64575, 55859, 55491, 16897, 52119,
       38469, 64533, 68866, 30101, 24769, 69483, 61806, 65630, 42296,
       59076, 43220, 28170, 38956, 22042, 70813, 17566, 21213, 54157,
       35668, 20425, 34890, 46519, 21473, 54839, 49800, 40968, 43627,
       30778, 64925, 59319, 39626, 56813, 32736, 72422, 27630, 72260,
       29425, 16987, 50950, 66574, 71348, 27426, 67376, 54743, 53374,
       20171, 29577, 52197, 44035, 60553, 51004, 35252, 35864, 61945,
       63353, 27968, 69258, 59949, 34153, 58842, 52482, 67100, 55377,
       29688, 45415, 53462, 56381, 50848, 56479, 22033, 28791, 65347,
       31137, 46349, 27237, 42749, 67033, 24681, 45030, 41514, 35600,
       16823, 64522, 42187, 64283, 61282, 59313, 72710, 15254, 20172,
       61734, 37505, 35303, 55957, 57180, 53195, 66154, 57560, 25682,
       52640, 63588, 28432, 64172, 31295, 28713, 16908, 70126, 16915,
       46952, 26697, 20221, 17963, 32404, 70158, 39007, 59094, 69209,
       54834, 16926, 67299, 44870, 52512, 70481, 50635, 72705, 55693,
       57898, 40585, 60698, 51959, 18957, 65257, 49964, 36736, 70018,
       66903, 65362, 40756, 61140, 19657, 44188, 40518, 27662, 62860,
       30946, 15739, 56658, 56231, 18427, 43573, 39305, 20730, 68824,
       61003, 30520, 16734, 43122, 25526, 65419, 45774, 31053, 36447,
       33099, 46336, 62922, 57752, 16360, 47499, 50386, 18780, 24648,
       42078, 44200, 29854, 49914, 17749, 66609, 17150, 21123, 27866,
       61771, 42578, 59609, 27544, 21283, 53919, 69486, 46184, 61693,
       32308, 53170, 32982, 43657, 38034, 32151, 41337, 48782, 40738,
       43748, 49529, 66465, 44495, 51930, 22495, 36316, 35759, 34078,
       22685, 64581, 57085, 32128, 69922, 17695, 66797, 24463, 67380,
       58243, 21452, 22331, 19637, 58794, 52928, 43173, 23443, 60215,
       47929, 17103, 50363, 49432, 56073, 27200, 25126, 41804, 59567,
       22967, 44580, 35212, 47418, 24038, 53412, 61991, 27234, 48091,
       49100, 29151, 57104, 66585, 47845, 36038, 53824, 67746, 32944,
       15207, 51729, 64702, 71110, 18899, 42820, 19688, 49981, 41452,
       44374, 39953, 19619, 38038, 46182, 35939, 37081, 62806, 47545,
       52751, 32948, 60306, 25630, 28817, 31289, 25601, 53752, 70975,
       64961, 35137, 57673, 60631, 15083, 64436, 22226, 63326, 29633,
       60549, 43755, 58916, 48401, 53104, 65928, 34687, 38607, 30564,
       19838, 44377])

### Step 8. Add the column owners to cars

In [66]:
cars['owners'] = owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,18426
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,37500
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,69588
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,42350
4,17.0,8,302,140,3449,10.5,70,1,ford torino,58339
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,34687
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,38607
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,30564
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,19838
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,44377