# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [97]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape

(4622, 5)

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
chipo['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [23]:
chipo.groupby('item_name')['item_name'].count().sort_values(ascending=False)

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

In [30]:
chipo[chipo['item_name']==chipo['item_name'].value_counts().index[0]]['quantity'].sum()

761

In [31]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [47]:
chipo.groupby('item_name').agg({'item_name': 'count', 'quantity': 'sum'})

                                       item_name  quantity
item_name
6 Pack Soft Drink                             54        55
Barbacoa Bowl                                 66        66
Barbacoa Burrito                              91        91
Barbacoa Crispy Tacos                         11        12
Barbacoa Salad Bowl                           10        10
Barbacoa Soft Tacos                           25        25
Bottled Water                                162       211
Bowl                                           2         4
Burrito                                        6         6
Canned Soda                                  104       126
Canned Soft Drink                            301       351
Carnitas Bowl                                 68        71
Carnitas Burrito                              59        60
Carnitas Crispy Tacos                          7         8
Carnitas Salad                                 1         1
Carnitas Salad Bowl                            6         6
Carnitas Soft Tacos                           40        40
Chicken Bowl                                 726       761
Chicken Burrito                              553       591
Chicken Crispy Tacos                          47        50
Chicken Salad                                  9         9
Chicken Salad Bowl                           110       123
Chicken Soft Tacos                           115       120
Chips                                        211       230
Chips and Fresh Tomato Salsa                 110       130
Chips and Guacamole                          479       506
Chips and Mild Fresh Tomato Salsa              1         1
Chips and Roasted Chili Corn Salsa            22        23
Chips and Roasted Chili-Corn Salsa            18        18
Chips and Tomatillo Green Chili Salsa         43        45
Chips and Tomatillo Red Chili Salsa           48        50
Chips and Tomatillo-Green Chili Salsa         31        33
Chips and Tomatillo-Red Chili Salsa           20        25
Crispy Tacos                                   2         2
Izze                                          20        20
Nantucket Nectar                              27        29
Salad                                          2         2
Side of Chips                                101       110
Steak Bowl                                   211       221
Steak Burrito                                368       386
Steak Crispy Tacos                            35        36
Steak Salad                                    4         4
Steak Salad Bowl                              29        31
Steak Soft Tacos                              55        56
Veggie Bowl                                   85        87
Veggie Burrito                                95        97
Veggie Crispy Tacos                            1         1
Veggie Salad                                   6         6
Veggie Salad Bowl                             18        18
Veggie Soft Tacos                              7         8

In [45]:
chipo.groupby('item_name').agg(item_name_count=('item_name', 'count'),
                               quantity_sum=('quantity', sum)).sort_values(by='quantity_sum', ascending=False)

                                       item_name_count  quantity_sum
item_name
Chicken Bowl                                       726           761
Chicken Burrito                                    553           591
Chips and Guacamole                                479           506
Steak Burrito                                      368           386
Canned Soft Drink                                  301           351
Chips                                              211           230
Steak Bowl                                         211           221
Bottled Water                                      162           211
Chips and Fresh Tomato Salsa                       110           130
Canned Soda                                        104           126
Chicken Salad Bowl                                 110           123
Chicken Soft Tacos                                 115           120
Side of Chips                                      101           110
Veggie Burrito                                      95            97
Barbacoa Burrito                                    91            91
Veggie Bowl                                         85            87
Carnitas Bowl                                       68            71
Barbacoa Bowl                                       66            66
Carnitas Burrito                                    59            60
Steak Soft Tacos                                    55            56
6 Pack Soft Drink                                   54            55
Chips and Tomatillo Red Chili Salsa                 48            50
Chicken Crispy Tacos                                47            50
Chips and Tomatillo Green Chili Salsa               43            45
Carnitas Soft Tacos                                 40            40
Steak Crispy Tacos                                  35            36
Chips and Tomatillo-Green Chili Salsa               31            33
Steak Salad Bowl                                    29            31
Nantucket Nectar                                    27            29
Chips and Tomatillo-Red Chili Salsa                 20            25
Barbacoa Soft Tacos                                 25            25
Chips and Roasted Chili Corn Salsa                  22            23
Izze                                                20            20
Veggie Salad Bowl                                   18            18
Chips and Roasted Chili-Corn Salsa                  18            18
Barbacoa Crispy Tacos                               11            12
Barbacoa Salad Bowl                                 10            10
Chicken Salad                                        9             9
Carnitas Crispy Tacos                                7             8
Veggie Soft Tacos                                    7             8
Burrito                                              6             6
Veggie Salad                                         6             6
Carnitas Salad Bowl                                  6             6
Bowl                                                 2             4
Steak Salad                                          4             4
Salad                                                2             2
Crispy Tacos                                         2             2
Chips and Mild Fresh Tomato Salsa                    1             1
Carnitas Salad                                       1             1
Veggie Crispy Tacos                                  1             1

### Step 11. What was the most ordered item in the choice_description column?

In [52]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [62]:
chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [63]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [83]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [82]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [89]:
def transformer(item):
    return float(item[1:])

In [90]:
transformer('$6.5')

6.5

In [95]:
chipo['item_price'] = chipo['item_price'].apply(transformer)

TypeError: 'float' object is not subscriptable

In [98]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [99]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [108]:
print(f'выручка была ${(chipo["item_price"]*chipo["quantity"]).sum()}')

выручка была $39237.02

### Step 15. How many orders were made in the period?

In [113]:
chipo['order_id'].unique().shape[0]

1834

In [115]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [117]:
# Solution 1
(chipo['quantity']*chipo['item_price']).sum() / chipo['order_id'].unique().shape[0]

21.39423118865867

In [130]:
# Solution 2
chipo.groupby('order_id').apply(lambda x: (x['quantity']*x['item_price']).sum()).mean()

21.39423118865867

In [118]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 17. How many different items are sold?