# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']
            }

### Step 3. Assign it to a variable called pokemon

In [7]:
pok = pd.DataFrame(raw_data)
pok

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pok = pok[['name', 'type', 'hp', 'evolution', 'pokedex']]
pok

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [11]:
pok.loc[:, 'place'] = 'earth'
pok

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes  earth
1  Charmander   fire  39  Charmeleon      no  earth
2    Squirtle  water  44   Wartortle     yes  earth
3    Caterpie    bug  45     Metapod      no  earth

### Step 6. Present the type of each column

In [13]:
pok.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.